extends layout

block content
  h1= title
  p Welcome to #{title}
  
  h3 Downloads
    br
    a(href="downloads/client.apk") Client application
    br
    a(href="downloads/vendor.apk") Vendor application
  br
  br
  a(href="downloads/LiberationClient.tar.gz") Download current Client code
  br
  br
  a(href="flow/index.html") Usecases
  br
  br
  a(href="services/index.html") Available Services
