h1=title
form(id="formUserLogin", method="post", action="")
  label(for="Contact") Contact Number
  input(type="text", name="Contact", id="Contact")
  input(type="submit", value="Login")
p Or new users can 
  a(href="/user/new") sign up