h1=title
form(id="formPlaceOrder", method="post", action="")
  label(for="customerContact") Customer Contact
  input(type="text", name="customerContact", id="customerContact", value="7829455333")
  label(for="customerName") Customer Name
  input(type="text", name="customerName", id="customerName", value="Anarv")
  label(for="vendorContact") Vendor Contact
  input(type="text", name="vendorContact", id="vendorContact", value="08024531234")
  label(for="vendorName") Vendor Name
  input(type="text", name="vendorName", id="vendorName", value="Popular Medicals")
  label Contact Name
  input(type="submit", value="Place Order")
