
body {font-family: "Lato", sans-serif;}

/* Style the category */
div.category {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the links inside the category */
div.category a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Style a selected category */
div.category a.catlink {
    background-color: #f1f1f1;
}

/* Style a selected category */
div.category a.selected {
    background-color: #00aaaa;
}

/* Style the row of services */

div.services {
	display: none;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

div.services a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Style a selected service */
div.services a.selected {
    background-color: #ff00ff;
}

label {
	background-color: #ddd;
}

/* Change background color of links on hover */
/*
div.category a:hover {
    background-color: #ddd;
}

div.services a:hover {
    background-color: #ddd;
}
*/
/* Create an active/current tablink class */
/*
div.category a:focus, .selected {
    background-color: #00aaaa;
}

div.services a:focus, .selected {
    background-color: #aaa;
}

a.services a:focus, .selected {
    background-color: #aaa;
}

a.selected {
    background-color: #00ff00;
}
*/


/* Style the Service Name */
/*
.service {
    display: none;
    padding: 0px 0px;
    border: 1px solid #ccc;
    border-top: none;
}
*/
/* Style the Service Description */

.servicedesc {
    display: none;
    padding: 0px 0px;
    border: 1px solid #ccc;
    border-top: none;
}

/* Style the Service Description */
/*
.servicelink {
    display: none;
    padding: 0px 0px;
    border: 1px solid #ccc;
    border-top: none;
}
*/
